### 1. What exactly is []?

[] means that it is an empty list.

In [1]:
l = []

In [2]:
type(l)

list

### 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [3]:
spam = [2,3,6,8,10]

To assign the value 'hello' as the third value we need do the following

In [4]:
spam[2] = 'hello'

In [5]:
spam

[2, 3, 'hello', 8, 10]

### Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [6]:
spam = ['a', 'b', 'c', 'd']

### 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [7]:
spam[int(int('3'*2))]

IndexError: list index out of range

### 4. What is the value of spam[-1]?

spam[-1] will give last item of the list.

In [8]:
spam[-1]

'd'

### 5. What is the value of spam[:2]?

spam[:2] wil give items starting from index 0 until 2

In [9]:
spam[:2]

['a', 'b']

### Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [16]:
bacon = [3.14, 'cat', 11, 'cat', True]

### 6. What is the value of bacon.index('cat')?

In [17]:
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

The "append" method of "list" will add the item at the last position of a list.

In [18]:
bacon.append(99)

In [19]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove('cat') change the look of the list in bacon?

bacon.remove('cat') will removes the first occurence of string object 'cat' from the list "bacon".

In [61]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

The "+" is used as an operator for list concatenation and "*" is used for list replication.

In [20]:
l1 = [1,2,3,4,5]
l2 = ['a', 'b', 'c', 'd', 'e']

In [21]:
#list concatenation
l1 + l2

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [22]:
#list replication
l1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### 10. What is difference between the list methods append() and insert()?

The list methos append() will add item to the last position of a list and the insert() can add item to a desired position in the list.

In [33]:
lst = [1,4,5,6]

In [34]:
#the append() method of list
lst.append(7)
lst.append(8)
lst

[1, 4, 5, 6, 7, 8]

In [35]:
#the insert() method of list
lst.insert(1,2)
lst.insert(2,3)
lst

[1, 2, 3, 4, 5, 6, 7, 8]

### 11. What are the two methods for removing items from a list?

pop() and remove () are the two methods for removing items from a list.

In [41]:
list1 = [1,2,3,4,'a','b','c']

In [42]:
#the pop() method of list
""" The pop() method removes the item at the last index of a list. """
list1.pop()
list1

[1, 2, 3, 4, 'a', 'b']

In [43]:
#the remove() method of list
""" The remove() method removes the first occurence of an item in a list """
list1.remove(3)
list1

[1, 2, 4, 'a', 'b']

### 12. Describe how list values and string values are identical.

List values and string values are identical in a way that they are both can be sliced and strided for get desired chunk of output from them.

In [44]:
lst1 = ['a','p','p','l','e',' ','a','n','d',' ','c','a','t']
str1 = "apple and cat"

In [45]:
lst1[2:5]

['p', 'l', 'e']

In [46]:
str1[2:5]

'ple'

### 13. What's the difference between tuples and lists?

The difference between tuples and lists is that tuple is an immutable data type and list is a mutable one.

In [47]:
ll = [1,2,3,4,5,9,7,8]
tt = (1,2,3,4,5,9,7,8)

In [48]:
#mutability of list
ll[5] = 6
ll

[1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
#but trying to change values in tuple will give an error (meaning it is immutable)
tt[5] = 6

TypeError: 'tuple' object does not support item assignment

### 14. How do you type a tuple value that only contains the integer 42?

In [51]:
tuple1 = (42,)
tuple1

(42,)

### 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

To get a list's tuple form we use the built-in method tuple() and to get a tuple value's list form we use the method list(). This technique is also called type-casting, changing from one data type to another.

In [53]:
list1 = ['prajin', 'bajracharya', 134,34, True, 56.2]
tuple1 = ('python', 234, False, 345.6, "numpy", "pandas")

In [56]:
#changing from list to tuple
tuple_from_list = tuple(list1)
print(tuple_from_list)
type(tuple_from_list)

('prajin', 'bajracharya', 134, 34, True, 56.2)

tuple

In [57]:
#changing from tuple to list
list_from_tuple = list(tuple1)
print(list_from_tuple)
type(list_from_tuple)

['python', 234, False, 345.6, 'numpy', 'pandas']

list

### 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Other collections other than list such as tuple and dictionary can also contain list as values within them.

In [60]:
tuple1 = (1,2,4,[3,4,5,],34,6,45,[2,3,6,6])
dict1 = {"bird": ['pigeon', 'eagle'], "mammal": ["cat, dog"]}

print(tuple1)
print(dict1)

(1, 2, 4, [3, 4, 5], 34, 6, 45, [2, 3, 6, 6])
{'bird': ['pigeon', 'eagle'], 'mammal': ['cat, dog']}

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

The copy.copy() will do the shallow copy only. Meaning when copying it doesn't create entirely new object but instead make references to the item of the original object. On the contrary, the copy.deepcopy() will do the deep copy of an object and creates an entirely new object.

In [58]:
import copy

#Demo of shallow copy using copy.copy()
l1 = [1,2,4, [5,6,7], 4,5,6]
l2 = copy.copy(l1)

print("The original list before shallow copying")
print(l1)

print("The list after shallow copying with modification of the list")
l2[3][1] = 15694
print(l2)
print(l1)

The original list before shallow copying
[1, 2, 4, [5, 6, 7], 4, 5, 6]
The list after shallow copying with modification of the list
[1, 2, 4, [5, 15694, 7], 4, 5, 6]
[1, 2, 4, [5, 15694, 7], 4, 5, 6]

In [59]:
#Demo of deep copy using copy.copy()
l1 = [1,2,4, [5,6,7], 4,5,6]
l2 = copy.deepcopy(l1)

print("The original list before shallow copying")
print(l1)

print("The list after shallow copying with modification of the list")
l2[3][1] = 15694
print(l2)
print(l1)

The original list before shallow copying
[1, 2, 4, [5, 6, 7], 4, 5, 6]
The list after shallow copying with modification of the list
[1, 2, 4, [5, 15694, 7], 4, 5, 6]
[1, 2, 4, [5, 6, 7], 4, 5, 6]